* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 10px;
    display: flex;
    background-color: #707F80;
    justify-content: center;
    align-items: center;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }
    20%,
    60% {
        transform: rotate(-25deg)
    }
    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}

#custom_window {
    position: absolute;
    width: 200px;
    height: 180px;
    background-color: rgb(192, 192, 192);
    border: 5px solid rgb(15, 77, 184);
    border-radius: 8px 8px 0px 0px;
    z-index: 1000;
    /* display: none; */
}

#custom {
    text-align: center;
    font-size: 1.5em;
    padding: 5px 0;
}

#custom>div {
    width: auto;
    height: 30px;
}

#custom>div>input {
    width: 80px;
}

#game_window {
    background-color: rgb(192, 192, 192);
    border: 5px solid rgb(15, 77, 184);
    border-radius: 8px 8px 0px 0px;
}

#title {
    width: 100%;
    height: 25px;
    font-size: 1.8em;
    display: flex;
    align-items: center;
    background-color: rgb(15, 77, 184);
}

#title img {
    width: 18px;
    height: 18px;
}

#title span {
    color: white;
    margin: 2px;
}

#menu {
    width: 100%;
    height: 20px;
    font-size: 1.5em;
    background-color: rgb(150, 150, 150);
}

.top_bar {
    position: relative;
    display: inline;
    padding: 2px;
}

.top_bar>span:hover {
    color: white;
    cursor: pointer;
    background-color: blue;
}

#game_menu {
    position: absolute;
    width: 50px;
    background-color: rgb(128, 128, 128);
    border: 1px solid black;
    display: none;
}

#game:hover #game_menu {
    display: block;
    color: black;
    z-index: 1000;
}

#game_menu>div:hover {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    border: 1px solid black;
}

#help_menu {
    position: absolute;
    width: 75px;
    left: 35px;
    background-color: rgb(128, 128, 128);
    border: 1px solid black;
    display: none;
}

#help:hover #help_menu {
    display: block;
    color: black;
    z-index: 1000;
}

#container {
    /* position: absolute; */
    background-color: rgb(192, 192, 192);
    width: 190px;
    height: 230px;
    border-left: 5px solid rgb(245, 245, 245);
    border-top: 5px solid rgb(245, 245, 245);
    border-right: 5px solid rgb(128, 128, 128);
    border-bottom: 5px solid rgb(128, 128, 128);
}

#restart_btn {
    height: 25px;
    width: 25px;
    background-color: rgb(192, 192, 192);
    background-image: url(/img/smile.png);
    background-repeat: no-repeat;
    background-position: center;
}

#score_bar {
    width: 180px;
    height: 34px;
    margin: 2px;
    border-left: 3px solid rgb(128, 128, 128);
    border-top: 3px solid rgb(128, 128, 128);
    border-right: 3px solid rgb(245, 245, 245);
    border-bottom: 3px solid rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mine_left {
    width: 39px;
    margin-left: 5px;
    background-color: black;
}

#time_used {
    width: 39px;
    margin-right: 5px;
    background-color: black;
}

.mine_left {
    float: left;
}

.time_used {
    float: right;
}

#map {
    position: relative;
    height: 180px;
    width: 180px;
    margin: 2px;
    border-left: 3px solid rgb(128, 128, 128);
    border-top: 3px solid rgb(128, 128, 128);
    border-right: 3px solid rgb(245, 245, 245);
    border-bottom: 3px solid rgb(245, 245, 245);
}

.block {
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-left: 2px solid rgb(245, 245, 245);
    border-top: 2px solid rgb(245, 245, 245);
    border-right: 2px solid rgb(128, 128, 128);
    border-bottom: 2px solid rgb(128, 128, 128);
}

.under_block {
    position: absolute;
    cursor: pointer;
    background-size: cover;
    width: 18px;
    height: 18px;
    border: 1px solid rgb(88, 88, 88);
}

.mine_block {
    position: absolute;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-image: url(img/mine-ceil.png);
    border: 1px solid rgb(88, 88, 88);
}

.mine_death {
    position: absolute;
    cursor: pointer;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-image: url(img/mine-death.png);
    border: 1px solid rgb(88, 88, 88);
}

.flag_block {
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url('img/flag.png');
    background-size: cover;
    border-left: 2px solid rgb(245, 245, 245);
    border-top: 2px solid rgb(245, 245, 245);
    border-right: 2px solid rgb(128, 128, 128);
    border-bottom: 2px solid rgb(128, 128, 128);
}

.question_block {
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-image: url('img/question.png');
    border-left: 2px solid rgb(245, 245, 245);
    border-top: 2px solid rgb(245, 245, 245);
    border-right: 2px solid rgb(128, 128, 128);
    border-bottom: 2px solid rgb(128, 128, 128);
}

.miss_flagged {
    position: absolute;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url('img/misFlagged.png');
    background-size: cover;
    border-left: 2px solid rgb(245, 245, 245);
    border-top: 2px solid rgb(245, 245, 245);
    border-right: 2px solid rgb(128, 128, 128);
    border-bottom: 2px solid rgb(128, 128, 128);
}